# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/

checkstyle-idea.xml
jpa-buddy.xml
LLMCarbon--.iml
misc.xml
modules.xml
vcs.xml
